body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

::-webkit-input-placeholder{
    color: #fff;
}

.container{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(0, 161, 234); */
    background: #444 url("../../public/images/main/Back.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.container > form{
    box-sizing: border-box;
    width: 500px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    background: rgba(71, 150, 170, 0.7);
    border-radius: 10px;
}
.container > form > h2{
    font-size: 30px;
    font-weight: 120;
    padding: 0;
    margin: 0;
    /* margin-bottom: 10px; */
    color: #fff;
}
.container > form > input{
    font-size: 20px;
    font-weight: 120;
    width: 100%;
    padding: 0;
    margin: 0;
    padding: 8px 0;
    margin: 8px 0;
    /* border: 1px solid rgb(0, 161, 234); */
    border: 1px solid transparent;
    border-radius: 3px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.container > form > #loginBtn{
    color: #fff;
    outline: none;
    background: rgba(71, 150, 170, 0.9);
    border: 1px solid transparent;
    cursor: pointer;
}