<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻发布</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
          <link rel="stylesheet" href="../../public/plug-in/bootstrap-3.3.7/css/bootstrap.css">
          <link rel="stylesheet" href="../../public/plug-in/bootstrap-3.3.7/css/bootstrap-theme.css">                      
          <link rel="stylesheet" href="../../public/css/reset.css">
          <link rel="stylesheet" href="../../public/css/main/mainIndex.css">
</head>
<body>
<div class="main-wrapper">
    <!--顶部-->
    <!--ToDo 此处采用卡片式轮播方式实现，用户博文or图片 轮播-->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
        <!--data-ride="carousel"表示页面加载后自动轮播，data-interval="1000"表示等待时间为2000秒-->
         
            <!-- 图片容器 -->
            <div class="carousel-inner" >
                <div class="item active">
                    <img src="../../public/images/main/lb1.jpeg" alt="...">
                    <div class="carousel-caption ">
                        <h3>校园风光</h3>
                        <p>浙江财经大学油桶</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../public/images/main/lb2.jpeg" alt="...">
                    <div class="carousel-caption">
                        <h3>校园文化</h3>
                        <p>校训</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../public/images/main/lb3.jpeg" alt="...">
                    <div class="carousel-caption">
                        <h3>校园文化</h3>
                        <p>清廉文化</p>
                    </div>
                </div>
                <div class="item">
                    <img src="../../public/images/main/lb4.jpeg" alt="...">
                    <div class="carousel-caption">
                        <h3>校园活动</h3>
                        <p>浙江财经大学艺术节</p>
                    </div>
                </div>
            </div>
         
             <!--圆圈指示符-->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li><!--索引下标从0开始-->
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
         
            <!-- 左右控制按钮 -->
            <a class="left carousel-control" href="#myCarousel"  data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" ></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    <!--模块栏-->
    <nav class="moduleBar">
        <ul>
            {% if category =='' %}
            <li><a class="active" href="/home">首页</a></li>
            {% else %}
            <li><a href="/home">首页</a></li>
            {% endif %}
            {% for cate in categories %}
            {% if category === cate.id %}
            <li><a class="active" href="/home?category={{ cate.id }}">{{ cate.name }}</a></li>
            {% else %}
            <li><a href="/home?category={{ cate.id }}">{{ cate.name }}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </nav>
    <!--内容区-->
    <div class="content">
        <div class="content-wrapper">
            <div class="leftModule borderColor">
                {% block content %}
                {% endblock %}
            </div>
            <div class="rightModule borderColor">
                <div class="rightBox borderColor" id="userInfoBox">
                    <form id="userInfoForm">
                        <h2>{{ userInfo.username }}，您好！</h2>
                        {% if userInfo.isAdmin %}
                        <a href="/home"><input type="button" value="查看新闻发布平台"></a>
                    </br>
                        <a href="/admin"><input type="button" value="进入后台管理"></a>
                        {% else %}
                        <a href="/home"><input type="button" value="查看新闻发布平台"></a>
                        {% endif %}
                    <div class="textRight"><a href="javascript:;" class="colMint" name="logout">退出</a></div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <!--底部-->
    <footer>Copyright © -- Tracy-LYH -- </footer>
</div>
<script type="text/javascript" src="../../public/plug-in/bootstrap-3.3.7/js/bootstrap.js"></script>
</body>
<script type="text/javascript" src="../../public/plug-in/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../public/js/main/mainIndex.js"></script>
</html>