
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>login</title>
        <link rel="stylesheet" href="/public/css/login.css">
    </head>
    <body>
        <div class="container" id="loginBox">
            <form action="/login/doLogin" method="post">
                <h2>你好</h2>
                <input type="text" name="name" id="UserName" placeholder="UserName">
                <input type="password" name="password" id="PassWord" placeholder="PassWord">
                <input type="submit" value="Login" id="loginBtn">
                <!--<button class="registerBtn" id="loginBtn">登录</button>-->
            </form>
        </div>
    </body>
    <script type="text/javascript" src="../../public/js/main/userIndex.js"></script>
</html>