{% extends 'layout.html' %}

{% block content %}

{% for content in contents %}
<div class="leftBox borderColor">
    <h2 class="articleTitle ellipsis">{{ content.title }}</h2>
    <p class="colDefault">
        作者:<span class="colInfo">{{ content.user.username }}</span>
        时间:<span class="colInfo">{{ content.addTime|date('Y-m-d H:i',8*-60) }}</span>
        阅读:<span class="colInfo">{{ content.views }}</span>
        评论:<span class="colInfo">{{ content.comments.length }}</span>
    </p>
    <div class="summary">{{ content.description }}</div>
    <button class="readButton"><a href="/view?contentID={{ content.id }}">阅读全文</a></button>
</div>
{% endfor %}
{% endblock %}